<div class="card">
    <form [formGroup]="form">
        <!-- Filtering field -->
        <mat-form-field appearance="fill" class="filter">
            <mat-label>Filter</mat-label>
            <input matInput class="filter-width" toUpperCaseKeyup placeholder="Filter superheroes by name..." #nameFilter id="nameFilter" (keyup)="filterTable()" formControlName="nameFilter">
            <mat-hint>Filtering</mat-hint>
        </mat-form-field>
        <!-- /Filtering field -->

        <!-- It opens form for a new Superheroe -->
        <button mat-button (click)="onNew()" class="button-format">Add new Superheroe</button>
        <!-- /It opens form for a new Superheroe -->
    </form>
</div>